{% extends 'base.html' %}
{% block content %}

  <div class="m4">
    <a href="{{ url_for('views.page_66') }}">Z固定</a>
    <a href="{{ url_for('views.page_54') }}">V温暖的</a>
    <a href="{{ url_for('views.page_63') }}">W固定</a>
    <a href="{{ url_for('views.page_46') }}">U你在这里</a>
    <a href="{{ url_for('views.page_91') }}">S骨</a>
    <a href="{{ url_for('views.page_79') }}">W红色的</a>
    <a href="{{ url_for('views.page_98') }}">Z骨</a>
  </div>
  <div class="m3">
    <a href="{{ url_for('views.page_78') }}">V红色的</a>
    <a href="{{ url_for('views.page_47') }}">V你在这里</a>
    <a href="{{ url_for('views.page_82') }}">Z红色的</a>
    <a href="{{ url_for('views.page_75') }}">S红色的</a>
    <a href="{{ url_for('views.page_61') }}">U固定</a>
    <a href="{{ url_for('views.page_67') }}">S美元</a>
    <a href="{{ url_for('views.page_76') }}">T红色的</a>
  </div>
  <div class="m2">
    <a href="{{ url_for('views.page_87') }}">W炖</a>
    <a href="{{ url_for('views.page_62') }}">V固定</a>
    <a href="{{ url_for('views.page_29') }}">T迷宫</a>
    <a href="{{ url_for('views.page_25') }}">X你迷路了</a>
    <a href="{{ url_for('views.page_72') }}">X美元</a>
    <a href="{{ url_for('views.page_71') }}">W美元</a>
    <a href="{{ url_for('views.page_35') }}">Z迷宫</a>
    <a href="{{ url_for('views.page_60') }}">T固定</a>
  </div>
    <div class="m11">
    <a href="{{ url_for('views.page_34') }}">Y迷宫</a>
    <a href="{{ url_for('views.page_58') }}">Z温暖的</a>
    <a href="{{ url_for('views.page_32') }}">W迷宫</a>
    <a href="{{ url_for('views.page_48') }}">W你在这里</a>
    <a href="{{ url_for('views.page_21') }}">S你迷路了</a>
  </div>
  <div class="m10">
    <a href="{{ url_for('views.page_95') }}">W骨</a>
    <a href="{{ url_for('views.page_57') }}">Y温暖的</a>
    <a href="{{ url_for('views.page_22') }}">T你迷路了</a>
    <a href="{{ url_for('views.page_97') }}">Y骨</a>
    <a href="{{ url_for('views.page_52') }}">T温暖的</a>
    <a href="{{ url_for('views.page_51') }}">S温暖的</a>
  </div>
  <div class="m1">
    <a href="{{ url_for('views.page_38') }}">U不要停止</a>
    <a href="{{ url_for('views.page_73') }}">Y美元</a>
    <a href="{{ url_for('views.page_95') }}">W骨</a>
    <a href="{{ url_for('views.page_55') }}">W温暖的</a>
    <a href="{{ url_for('views.page_84') }}">T炖</a>
    <a href="{{ url_for('views.page_41') }}">X不要停止</a>
    <a href="{{ url_for('views.page_44') }}">S你在这里</a>
    <a href="{{ url_for('views.page_36') }}">S不要停止</a>
  </div>


{% endblock %}