<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <div>
      <h1>secret profile</h1>
    <!-- Include navigation buttons -->
    <div>
      <button type="button" class="btn btn-link"><a href="{{ url_for('views.home') }}">Home</a></button>
      <button type="button" class="btn btn-link"><a href="{{ url_for('views.update_profile') }}">Update Profile</a></button>
      <!-- Add other navigation buttons as needed -->
    </div>
    <!-- Other content of base.html -->
  </div>
</body>
</html>