{% extends "base.html" %}
{% block title %}Forum{% endblock %}
{% block content %}
  <div class="page-container">
    <div class="top-section">
    </div>
    <div class="chat-container">
      <div class="forum-div">
        <div class="posts">
          {% for post in posts %}
            <div class="post">
              <p>{{ post.content }}</p>
              <p class="post-info">Posted by {{ post.author.uName }} on {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="bottom-section">
      <div class="text-area-forum">
        <form method="POST">
          <textarea name="post_content" id="post_content" class="forum-textarea"></textarea>
          <br />
          <div align="center">
            <button type="submit" class="btn btn-primary button-forum">Add Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    // Add any JavaScript logic here if needed
  </script>
{% endblock %}